---
layout: standard
---

<title>Most recent news on Marketing and Technology</title>


<section id="landing">
    <header>
        <a href="{{site.baseurl}}/">
        <img id="IMI" src="{{site.baseurl}}/media/imgs/icons_logos/IMI_11_2017_a.png">
        </a>
        
        {% include nav.html navclass='nav-top' %}
        
        <div id="logoslogan">
        <ul>
        <li>Independent</li>
        <li>Marketing</li>
        <li>Intelligence</li>
        <li>Blog</li>
            </ul>
        </div>
        
        <div id="slogan_buttons">
            <ul id="sloganlist">
            <a href="{{site.baseurl}}/page_blog_mktgeneral/blog_mktgeneral.html"><li id="token_mktgeneral" style="color: #f77f8d">Marketing.</li></a>
            <a href="{{site.baseurl}}/page_blog_tech/blog_tech.html"><li id="token_tech">Tech.</li></a>
            <a href="{{site.baseurl}}/page_blog_leadership/blog_leadership.html"><li id="token_leadership">Leadership.</li></a>
            <a href="{{site.baseurl}}/page_blog_organisation/blog_organisation.html"><li id="token_organisation">Organisation.</li></a>
            </ul>
            <br>
            <br>
            <a href="#" class="btn btn-voll">Read now</a>
        </div>
        
       <!-- 
        <div id="signup">
            <a class="btn btn-leer">Sign up</a>
        </div>
-->
    </header>
    
    

<!-------------------------    Teaser (rechts) Anfang    -------------------------------->

    
    
    
    
<!--    <div class="triangle"></div>-->
<!--    <div class="quad"></div>-->
    <a id="img_to_flip_hash" href="{{site.baseurl}}/page_blog_mktgeneral/blog_mktgeneral.html"><img id="img_to_flip" src="{{site.baseurl}}/media/imgs/sections/marketing.jpeg">
    <p id="img_to_flip_p">Explore the latest trends in Marketing & Communication.</p>
    </a>   
    
    
    


    <div id="marketingteaser">
<!--    {% assign marketingcat = site.categories['#Marketing general'] %}-->
    {% for page in site.posts %}
    {% if page.category contains '#Marketing' %}
    <p>Latest article in #Marketing: </p> 
        <a href="{{site.baseurl}}/{{page.permalink}}">
        <h1 style="padding-top: 20px;"><a href="{{site.baseurl}}/{{page.permalink}}">{{page.title | markdownify}}</a></h1>
        </a >
    {% break%}
    {% endif %}
    {% endfor %}
    </div> 
    
    <div id="techteaser" style="display: none;">
<!--    {% assign marketingcat = site.categories['#Marketing general'] %}-->
    {% for page in site.posts %}
    {% if page.category contains '#Tech' %}
    <p>Latest article in #Tech: </p> 
        <a href="{{site.baseurl}}/{{page.permalink}}">
        <h1 style="padding-top: 20px;"><a href="{{site.baseurl}}/{{page.permalink}}">{{page.title | markdownify}}</a></h1>
        </a >
        
    {% break%}
    {% endif %}
    {% endfor %}
    </div> 
    
    <div id="leaderteaser" style="display: none;">
<!--    {% assign marketingcat = site.categories['#Marketing general'] %}-->
    {% for page in site.posts %}
    {% if page.category contains '#Leadership' %}
    <p>Latest article in #Leadership: </p> 
        <a href="{{site.baseurl}}/{{page.permalink}}">
        <h1 style="padding-top: 20px;"><a href="{{site.baseurl}}/{{page.permalink}}">{{page.title | markdownify}}</a></h1>
        </a >
    {% break%}
    {% endif %}
    {% endfor %}
    </div> 
    
    <div id="organisationteaser" style="display: none;">
<!--    {% assign marketingcat = site.categories['#Marketing general'] %}-->
    {% for page in site.posts %}
    {% if page.category contains '#Organisation' %}
    <p>Latest article in #Organisation:  </p> 
        <a href="{{site.baseurl}}/{{page.permalink}}">
        <h1 style="padding-top: 20px;"><a href="{{site.baseurl}}/{{page.permalink}}">{{page.title | markdownify}}</a></h1>
        </a >
    {% break%}
    {% endif %}
    {% endfor %}
    </div> 
    
    
    


    
    <script type="text/javascript">
                (function() {     // function expression closure to contain variables
                    var i = 0;
                    var pics = [ "{{site.baseurl}}/media/imgs/sections/marketing.jpeg", 
                                "{{site.baseurl}}/media/imgs/sections/tech.jpeg", 
                                "{{site.baseurl}}/media/imgs/sections/leadership.jpg", 
                                "{{site.baseurl}}/media/imgs/sections/Organisation.jpg"];
                    var picshash = [
                        "{{site.baseurl}}/page_blog_mktgeneral/blog_mktgeneral.html", 
                        "{{site.baseurl}}/page_blog_tech/blog_tech.html", 
                        "{{site.baseurl}}/page_blog_leadership/blog_leadership.html",  
                        "{{site.baseurl}}/page_blog_organisation/blog_organisation.html"
                    ]
                    var picsp = [
                        "Explore the latest trends in Marketing & Communication.", 
                        "At the glipmse of a technological revolution? Discuss with us!", 
                        "How are the digital leaders paving the way for breakthough innovations?", 
                        "What organisational matters are relevant for advanced analytics in the age of Big Data?"]
                    
                    var flipimage = document.getElementById('img_to_flip');
                    var flipimagehash = document.getElementById('img_to_flip_hash');
                    var flipimagep = document.getElementById('img_to_flip_p');
                    var sloganlist = document.getElementById('sloganlist');
                    var token_tech = document.getElementById('token_tech');
                    var token_mktgeneral = document.getElementById('token_mktgeneral');
                    var token_leadership = document.getElementById('token_leadership');
                    var token_inspiration = document.getElementById('token_organisation');
                    
                    var marketingteaser = document.getElementById('marketingteaser');
                    var techteaser = document.getElementById('techteaser');
                    var leaderteaser = document.getElementById('leaderteaser');
                    var inspireteaser = document.getElementById('organisationteaser');
                    
                    var picscategoryrow = [
                        document.getElementById('token_mktgeneral'), 
                        document.getElementById('token_tech'), 
                        document.getElementById('token_leadership'), 
                        document.getElementById('token_organisation'),
                    ]
                    
                    var teaserrow = [
                        document.getElementById('marketingteaser'), 
                        document.getElementById('techteaser'), 
                        document.getElementById('leaderteaser'), 
                        document.getElementById('organisationteaser'),
                    ]
                    
                    var teaserhashrow = [
                        '#marketingteaser', 
                        '#techteaser', 
                        '#leaderteaser', 
                        '#organisationteaser',
                    ]
                    
                    
                    
                    function toggle() {
                        
                        var currentteaser = teaserhashrow[i];
                        
                        $("#img_to_flip").fadeOut(250);
                        $("#img_to_flip_h6").fadeOut(250);
                        $("#img_to_flip_p").fadeOut(250);
                        $(currentteaser).fadeOut(250);
                        
                        
                        
                        token_tech.style.color = 'white';
                        token_mktgeneral.style.color = 'white';
                        token_leadership.style.color = 'white';
                        token_organisation.style.color = 'white';
                        
                        marketingteaser.style.display = 'none';
                        techteaser.style.display = 'none';
                        leaderteaser.style.display = 'none';
                        organisationteaser.style.display = 'none';

                        
                        setTimeout(function(){ picscategoryrow[i].style.color = '#f77f8d'; }, 50);
                        setTimeout(function(){ flipimage.src = pics[i]; }, 250);
                        setTimeout(function(){ flipimagehash.href = picshash[i]; }, 250);
                        setTimeout(function(){ flipimagep.innerHTML = picsp[i]; }, 250);
                        
                        
                        if (i < 3){
                            i = (i + 1);
                          } else{
                            i = 0  
                          }
                        
                        var currentteaser = teaserhashrow[i]; //Aktualisierung
                        $("#img_to_flip").fadeIn(800);
                        $("#img_to_flip_p").fadeIn(1500);
                        $(currentteaser).fadeIn(3000);
                        }
                setInterval(toggle, 5000);
                })();             // invoke the function expression
        </script>
    
</section>



<!-------------------------    Teaser Ende    -------------------------------->








<section id="posts">
    <div class="container">

<br>
<h2>Recent Reads</h2>
<hr>
        
        
    <div class="posting-box">
    <br>
    {% for page in site.posts limit:4 %}
    {% unless page.category contains '#Inspiration' %}
        <br>
    <div class="post-box">
        <br>
        <a href="{{site.baseurl}}/{{page.permalink}}">
                    <img src="{{page.image}}">
                    </a>
                    
                    <div class="post-desc">
                        <h1><a href="{{site.baseurl}}/{{page.permalink}}">{{page.title | markdownify}}</a></h1>   
                        <span style="display: inline-block;margin-right:-40px"><p class="date">{{ page.date | date: "%b %-d, %Y" }}</p></span><h5 style="display: inline-block">{{page.category}}</h5>
                        <br>
                        <br>
                        <span style="font-weight: 400">{{page.meta}}</span>
                        <br>
                        <br>
                    </div> 
            {% endunless %}
            {% endfor %}
        </div>
        
        <br>
        <br>            
        <form method="post" action="#">
        <a href="{{site.baseurl}}/page_blog/blog.html" class="btn btn-medium">Read more</a>
        </form>  
            
    </div>     
    </div>
                      
       
</section>  

<hr style="width: 98%">



<!-------------------------    Food 4 thought    -------------------------------->

<section style="margin-top: 50px;">
    

<br>
<h2>Food for thought</h2>
<hr style="margin-bottom: 100px;">
        
<div class="container" id="f4tsection">
    
     <div class="grades">
            {% assign sorted_cats = site.categories | sort %}
            {% for category in sorted_cats %}
            {% if category contains '#Inspiration'  %}
            {% assign sorted_posts = category[1] | reversed %}
            {% for page in sorted_posts limit:8 %}
       <div class="desktopGrades" id="{{page.permalink}}">
            <h1 class="unnamed">{{ page.date | date: "%b %-d, %Y" }}   <a class="unnamed"><br>{{page.title }}</a></h1>
            <p id="ONE{{page.permalink}}" class="unnamed" style="display: none;"><a>{{page.meta}}</a></p>
        </div>
            {% endfor %}
            {% endif %}
            {% endfor %}
             </div>
    
        </div>

</section>




<!-------------------------    Food 4 thought Ende    -------------------------------->



<hr style="width: 98%" >



<section id="feedback">

  <h2>Give us feedback!</h2>
        <hr>
        <div class="container">
            <form method="post" action="try.php" class="nachricht-forum">
           
                <label>Given name:</label>
                <input type="text" placeholder="Your given name">
                <label>Family name:</label>
                <input type="text" placeholder="Your family name">
                <label>E-Mail:</label>
                <input type="email" placeholder="Your E-Mail adress">
                <label>Message:</label>
                <textarea placeholder="Your message"></textarea>
                <br>
                <br>
                <form class="submit" method="submit" type="submit" action="#">
                <a href="#" class="btn btn-medium">Submit</a>
                </form> 
            </form>
    </div>
</section>


