---
layout: standard
---
    

<section id="landing">
    <header>
        <a href="{{site.baseurl}}/">
        <img id="IMI" src="{{site.baseurl}}/media/imgs/icons_logos/IMI_1.png">
        </a>
        
        {% include nav.html navclass='nav-top' %}
        
        <div id="slogan_buttons">
            <h1 id="slogan">Data. Marketing. Intelligence.</h1>
            <br>
            <br>
            <a href="#" class="btn btn-voll">Read now</a>
        </div>
        
        <div id="signup">
            <a class="btn btn-leer">Sign up</a>
        </div>

    </header>
    <div class="container">
    </div>
</section>











<section id="posts">
    <div class="container">

<br>
<h2>Recent Reads</h2>
<hr>
    <div class="posting-box">
    <br>
    {% for page in site.posts limit:5 %}
        <br>
        <br>
    <div class="post-box">
        <a href="#">
                    <img src="{{page.image}}">
                    </a>
                    
                    <div class="post-desc">
                        <h1><a href="{{site.baseurl}}/page_blog/{{page.permalink}}">{{page.title | markdownify}}</a></h1>
                        <br>
                        <span><p class="date">{{ page.date | date: "%b %-d, %Y" }}</p></span>
                        <br>
                        <br>
                        {{page.meta}}
                    </div>
                    {% endfor %}
                </div>
                <br>
                <br>
                 
                    
            
    </div>     
    </div>
                    <form method="post" action="#">
                    <a href="{{site.baseurl}}/page_blog/blog.html" class="btn btn-medium">Read more</a>
                    </form>    
       
</section>  
        
 



<section id="feedback">

</section>