.bloggy text{
    font-size: 150%;
}

.bloggy figcaption{
    font-weight: 300;
    color: white;
}

.post-box h4{
    padding-top: 1500px;
    margin-top:  800px;
}


.postheadbottom{
    margin-top: 80px;
    margin-bottom: 20px;
}

.postheadbottom p{
    color: #813852;
    font-weight: 400;
}

.postheadbottom h1{
    font-size: 30px;
    font-weight: 700;
    color: #813852
}

.author img{
    border-radius: 50%;  
}

.author h4{
    color: black;
    font-size: 160%;
    font-weight: 300;    
}

.author h5{
   color: #813852;
    font-size: 160%;
    font-weight: 400;    
}

.desc{
    position: absolute;
    color: black;
    font-size: 90%;
    font-weight: 400;
}


.container text{
    text-align: left;
}


