
.bloggy text{
    font-size: 150%;
}

.bloggy figcaption{
    text-align: right;
    font-size: 140%;
    font-weight: 300;
    color: white;
    position: relative;
    margin-top: -115px;
    margin-right: 34%;
}

.post-box h4{
    padding-top: 1500px;
    margin-top:  800px;
}


.postheadbottom{
    margin-right: 30%;
    margin-top: 80px;
    margin-bottom: 20px;
}

.postheadbottom p{
    color: #813852;
    font-weight: 400;
}

.postheadbottom h1{
    font-size: 30px;
    font-weight: 700;
    color: #813852
}


.author{
    margin-top: 150px;
    margin-bottom: 250px;
    margin-right: 550px;
}

.author img{
    height: 25vh;
    border-radius: 50%;
    margin-left: 180px;    
}

.author h4{
   margin-top: -250px;
    margin-left: 180px;
   color: black;
    font-size: 160%;
    font-weight: 300;    
}

.author h5{
   margin-top: -27px;
    margin-left: 313px;
   color: #813852;
    font-size: 160%;
    font-weight: 400;    
}

.author .desc{
    position: absolute;
    margin-left: 500px;
    color: black;
    font-size: 90%;
    font-weight: 400;
    margin-top: 20px;
}


.desc{
    margin-right: 25%;
}





