/*



ÜBERSICHT:

In der Common.css finden sich alle generellen Styles, die für alle Seiten gültig sind.






Erklärung einzelner Objekte und Klassen:


H1: zuerst ein H für alles 
H2: Überschriften der Sektionen


container: zentrierte Box für Inhalte, v.a. auf der Home- Seite.

nav: Navigation bar (nav-top & nav-bottom)

btn = Buttons (btn-voll, btn-leer und btn-medium)
    voll ="scrollt auf eigener Seite hin und her
    medium = Leitet zu anderer Unterseite, ist zentriert
    leer = noch keine Funktion

posting-box: "Große" Box aller Postings

post-box: Bos der Einzel- Postings

post-desc: Beschreibung der Einzel- Posts


*/





/*----------------Basic Setup---------------*/

*{
    margin: 0%;    
}

hr{
    margin: 20px auto;
    width: 25%;
}

body{
    font-family: Lato;
    font-size: 15px;
    font-weight: 300;
    color: #696969;   
}

.container{
    width: 80%;
    margin: 0px auto;
}

h1{
    font-size: 120%;
    font-weight: 400;
    top: 9vh;
}

h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 180%;
    font-weight: 400;    
}

section{
    margin-bottom: 80px;
}

p{
    font-size: 80%;
}




/*----------------Navigation---------------*/

nav ul li{
    display: inline-block;
    margin-left: 20px;
    font-size: 55%; 
}

nav ul li a{
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    transition: border-bottom 1.0s;  
}

nav ul a:hover{
    border-bottom: 2px solid #d44c5c;
}

/*----------------Header---------------*/

#logoslogan{
    position: absolute;
    color: white;
    font-weight: 700;
    margin-left: 5%;
    padding-left: 150px;
    margin-top: 75px;
}

#logoslogan ul{
    margin-left: -37px;
    list-style: none;
}

header img{
    position: absolute;
    height: 70px;
    border-radius: 0%;
    margin-top: 75px;
    margin-left: 5%;
}

.nav-top{
    list-style: none;
    position: absolute;
    top: 9vh;
    right: 5%;
    font-size: 130%
}

.nav-top ul a{
    text-decoration: none;
    position: absolute;
    color: white;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    transition: border-bottom 1.0s;
}

.nav-top li a{
    color: white;
}



/*----------------Buttons---------------*/


.btn{
    text-decoration: none;
    color:white;
    border: 2px solid #d44c5c;
    padding: 10px 12px;
    margin-right: 10px;
    border-radius: 25px;
    transition: background-color 0.4s;
    font-weight: 400;
}

.btn-voll, .btn-medium{
    background-color: #d44c5c;    
}

.btn-voll:hover{
    background-color: #982a37;
    border-color: #982a37;
}

.btn-medium:hover{
    background-color: #982a37;
    border-color: #982a37;
}


.btn-leer{
    transition: background-color 0.4s;    
}

.btn-leer:hover{
    background-color: #982a37;
    border-color: #982a37;
}




/*----------------Footer---------------*/



footer{
    background-color: #d44c5c;
}

footer nav{
    text-align: center;
    margin-left: -50px;
}

footer nav ul li{
    display: inline-block;
    margin-right: 20px;
}

footer nav ul li:last-child{
    margin-top: 30px;
}


footer a{
    text-decoration: none;
    color: #813852;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition:border-bottom 7.0s;
    transition:color 0.3s;
}

footer a:hover{
    color: white;
    border-bottom: 2px solid white;
    
}

footer p{
    padding-top: 100px;
    padding-bottom: 40px;
    text-align: center;
    color: #813852;
}





