
/*----------------Landing---------------*/


#landing{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/media/imgs/sections/data.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}


#slogan{
    font-size: 185%;
    color: white;
    font-weight: 300;
}

#slogan_buttons{
    margin-top: 200px;
    position: absolute;
    padding-top: 200px;
    padding-left: 5%;
}

#slogan_buttons ul{
margin-left: -40px;
}

#slogan_buttons ul li{
    list-style: none;
    display: inline-block;
    color: white;
    font-weight: 100;
    font-size: 160%;
    margin-right: 4px;
}

#signup{
    margin-top: 465px;
    position: absolute;
    right: 5%; 
}

.quad {
  right: 2%;
  position: absolute;
  padding-top: 150px;
  margin-top: 318px;
  border: solid rgba(212, 76, 92, 0.7);
  border-left-width: 345px;
  border-top-width: 30px;
}

.triangle {
  right: 0;
  position: absolute;
  margin-right: 0%;
  padding-top: 450px;
  margin-top: 270px;
  border: solid rgba(212, 76, 92, 0.7);
  border-left-width: 300px;
  border-top-width: 30px;
  border-top-color: transparent;
}

#img_to_flip{
    position: absolute;
    right: 2%;
    margin-right: 15px;
    margin-top: 329px;
    width: 40vh;
    height: 20vh;
    border: 10px solid rgba(247, 127, 141, 0.6)
}


#landing p{
    position: absolute;
    margin-top: 540px;
    right: 3%;
    font-size: 100%;
    color: white;
    width: 205px;
    margin-right: 13px;
    text-align: right;
}


#marketingteaser, #techteaser, #leaderteaser, #organisationteaser{
    position: absolute;
    width: 20px;
    height: 40px;
    text-align: right;
    margin-top: 90px;
    right: 3%;
    z-index: 1;
}

#marketingteaser h1, #techteaser h1, #leaderteaser h1, #organisationteaser h1{
    font-style: italic;
    font-size: 145%;
    font-family: sans-serif;
    hyphens: auto; 

}

#marketingteaser p, #techteaser p, #leaderteaser p, #organisationteaser p{
    font-size: 85%;
}


/*----------------Food 4 thought---------------*/

.grades{
    margin-top: 100px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.desktopGrades {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    height: 200px;       
    background-color:  rgba(212, 76, 92, 0.9);
    margin-left: 1%;
    margin-top: 1%;
    transition: background-color 1.0s;  
    overflow-y: auto;
}

.desktopGrades:hover{
    background-color: rgba(247, 127, 141, 0.9);
}

.desktopGrades h1{
    margin-left: 2%;
    margin-top: 15px;
    font-weight: 300;
    font-size: 70%;
    color: white;
}

.desktopGrades h1 a{
    font-weight: 400;
    text-decoration: none;
    height: 100%;
    color: white;
}

.desktopGrades p{
    margin-right: 20%;
    margin-top: 30px;
    font-size: 100%; 
    margin-left: 2%;
}

.desktopGrades p a{
    font-weight: 300;
    text-decoration: none;
    color: white;
}



/*----------------Posts---------------*/


#posts img{
    display: inline-block;
    width: 16.5%;
    border-radius: 30%;
    margin-right: 2%;
    transition: transform 0.3s;
}

#posts img:hover{
    transform: scale(1.17);
}

.post-desc{
    display: inline-block;
    font-size: 90%;
    vertical-align: top;
    margin-bottom: 10px;
}

.post-desc span div{
    width: 60%;
}

.post-desc h5{
    font-weight: 300;
    color: grey;
}

.post-box a{
   color: white;
}


.posting-box form{
    text-align: center;
}

#posts h1{
    text-align: left;
}

#posts h1 a{
    text-decoration: none;
    color: #d44c5c;
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 180%;
    transition: 0.4s;
}

#posts h1 a:hover{
    color: #f77f8d;
}

#posts p{
    margin-right: 50px;
    }

.date{
    font-size: 80%;
    color: #d44c5c;
    font-weight: 400;
}






/*----------------Feedback---------------*/

#feedback{
    padding-top: 50px;
}

.nachricht-section h2{
padding: 0 20px;
    
}

input{
    width: 100%;
    height: 40px;
    font-size: 100%;
    padding: 0 5px;
    margin-bottom: 20px;
    
}


*:focus{   
   outline: none; 
}

textarea{
    width: 100%;
    height: 100px;
    font-size: 100%;
    padding: 5px;
    font-family: Lato;
    margin-bottom: 10px;
    
}

label{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
    
}

.submit{
    background-color: #d44c5c;
    width: 100px;
    border-radius: 50px;
    color: white;
    font-size: 90%;
    font-weight: 300;
    margin: 0 auto;
    display: block;
}