
/*----------------Landing---------------*/


#landing{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/media/imgs/sections/data.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}


#slogan{
    font-size: 185%;
    color: white;
    font-weight: 300;
}

#slogan_buttons{
    margin-top: 200px;
    position: absolute;
    padding-top: 200px;
    padding-left: 5%;
}

#signup{
    margin-top: 450px;
    position: absolute;
    right: 5%; 
}

/*----------------Posts---------------*/


#posts img{
    display: inline-block;
    width: 15%;
    border-radius: 30%;
    margin-right: 2%;
    transition: transform 0.3s;
}

#posts img:hover{
    transform: scale(1.17);
}

.post-desc{
    line-height: 85%;
    width: 79%;
    display: inline-block;
    text-align: justify;
    font-size: 90%;
    vertical-align: top;
}

.post-box{
    margin-bottom: 30px;    
}



.posting-box form{
    text-align: center;

}

#posts h1 a{
    text-decoration: none;
    color: #d44c5c;
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 180%;
    transition: 0.4s;
}

#posts h1 a:hover{
    color: #f77f8d;
}

#posts p{
    margin-right: 50px;
    }

.date{
    font-size: 80%;
    color: #d44c5c;
    font-weight: 400;
}