<section class="author {{include.authorclass}}">
{% assign author = site[page.author] %}
{% if author %}

    <a href={{ author.email }}><img src="{{site.baseurl}}/media/imgs/authors/{{ author.pic }}"></a>
  <span><a href={{ author.email }} style="text-decoration: none">
        <h4>The author |</h4>
        <h5>{{ author.name }}</h5>
      </a>
  </span>
<br>
<br>
<span class="desc">
    {{ author.bio }}
</span>
    
    
   
{% else %}
     <a href="mailto:sebastian.weber1993@aol.com"><img src="{{site.baseurl}}/media/imgs/authors/sebastianweber.jpg" ></a>
  <span>
    Written by Sebastian Weber
  </span>
    <br>
{% endif %}
    

</section>

<section class="author {{include.authorclass}}" id="coauthor">
{% assign author2 = site[page.author2] %}
{% if author2 %}

    <a href={{ author2.email }}><img src="{{site.baseurl}}/media/imgs/authors/{{ author2.pic }}"></a>
  <span><a href={{ author2.email }} style="text-decoration: none">
        <h4>Co- author |</h4>
        <h5>{{ author2.name }}</h5>
      </a>
  </span>
<br>
<br>
<span class="desc">
    {{ author2.bio }}
</span>
    
    
   
{% else %}
<section style="padding-top: -1300px;">
</section>
{% endif %}
    

</section>





<div class="posting-box">
                    <form method="post" action="#" style="margin-bottom: 80px;">
                    <a href="{{site.baseurl}}/page_blog/blog.html" class="btn btn-medium">Read more</a>
                    </form>   
</div>
