---
layout: standard
---

<section id="upper-bar">
    <header>
        
    </header>

</section>


<section class="bloggy">
    <img id="bloggyimg" src="{{page.image}}">
    <figcaption>{{page.category}}</figcaption>
    <div class="container">
    <div class="postheadbottom">
        <h1>{{page.title}}</h1>
        <br>
        <p>{{ page.date | date: "%b %-d, %Y" }} || by {{site[page.author].name}}</p>
</div>        
<br>
<br>
<br>
<br>
<br>
<br>
<text>{{content}}</text>
    </div>
</section>

<br>
<section class="bloggy">
    <div class="container">
<div class="postheadbottom">
        <p style="color: darkgray">Source(s): {{page.source}}</p>
    </div>
    </div>
</section>


    <!--INCLUDE AUTHORS    -->       
    {% include author.html %}

            

<footer>

    
</footer>