<!DOCTYPE html>
<html>
    
    
    
    
<!--THIS IS THE HEADER OF ALL PAGES    -->

<head>
    <meta charset="utf-8">
    <title>Independent Marketing Intelligence Blog</title>
    
    <!--Common for all pages    -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="{{site.baseurl}}/style/common.css" rel="stylesheet">
    <link href="{{site.baseurl}}/style/queries.css" rel="stylesheet">
    
    <!--Specific css    -->
    <link href="{{site.baseurl}}/style/page_home.css" rel="stylesheet">
    <link href="{{site.baseurl}}/style/page_blog.css" rel="stylesheet">
    <link href="{{site.baseurl}}/style/page_about.css" rel="stylesheet">
    <link href="{{site.baseurl}}/style/page_contact.css" rel="stylesheet">
    <link href="{{site.baseurl}}/style/bloggy.css" rel="stylesheet">
    
</head>
<body>
    
    
    
<header>
        <a href="{{site.baseurl}}/">
        <img id="IMI" src="{{site.baseurl}}/media/imgs/icons_logos/IMI_11_2017_a.png">
        </a>
        {% include nav.html navclass='nav-top' %}
    
            <div id="logoslogan">
        <ul>
        <li>Independent</li>
        <li>Marketing</li>
        <li>Intelligence</li>
        <li>Blog</li>
            </ul>
        </div>
</header>
    
    
    
    
    
<!--THIS IS THE CONTENT OF ALL PAGES    -->    
    
{{content}}

    
    

    
    
    
<!--THIS IS THE FOOTER OF ALL PAGES    -->

    <footer>        
        
        {% include nav.html navclass='nav-bottom' %}
        <p>
        Copyright &copy; 2017 by Sebastian Weber <br>All rights reserved.
        </p>
    </footer>
    <!---------------------------------------->  
    <script src="{{site.baseurl}}/js/jquery-3.2.1.min.js"></script>
    <script src="{{site.baseurl}}/js/script.js"></script>
    </body>
    
    
    
</html>